.exploration {
	background: $light-gray;
	.section {
		@include row();
		.section-lead-in {
			h1 {
				margin-bottom: 0;
				@include media( $medium-screen ) {
					margin-bottom: $twentyfive;
				}
			}
			.exploration-taxonomies {
				display: none;
				@include media( $medium-screen ) {
					display: block;
					@include outer-container;
				}
				.taxonomy {
					@include span-columns(3);
					h3 {
						color: $slate;
						margin-bottom: $twenty;
					}
					.read-more-link {
						display: block;
						color: $black;
						font-weight: 700;
						margin-top: $ten;
					}
					&:first-of-type {
						@include shift(2);
					}
				}
			}
		}
	}
	.section-portal {
		h1 {
			margin: $ten 0;
		}
		.featured-route-title {
			background: $slate;
			color: $white;
			letter-spacing: 3px;
			padding: $five $twenty;
			text-transform: uppercase;
		}
		.excerpt {
			margin-bottom: $ten;
		}
		a {
			color: $slate;
			&.read-more {
				font-weight: 700;
			}
		}
	}
}

.single-exploration {
	background: $light-gray;
	.content-area {
		@include outer-container;
		.exploration-term {
			@include span-columns(8);
			@include shift(2);
			background: $slate;
			color: $white;
			font-weight: 700;
			margin-bottom: $fifteen;
			margin-top: $fifty;
			padding: $ten 0;
			text-align: center;
			text-transform: uppercase;
		}
		.exploration-title {
			clear: both;
			margin-bottom: $fifty;
			text-align: center;
		}
		.exploration-section  {
			margin-bottom: $fifty;
		}
		.gallery-container {
			@include row();
			.main-image {
				@include span-columns(12);
				margin-bottom: 2.35765%;
				@include media( $large-screen ) {
					@include span-columns(8);
					@include shift(2);
					margin-bottom: 0;
				}
				.slide-caption {
					display: inline-block;
					margin-top: $five;
					text-align: center;
				}
			}
			.image-thumbs {
				@include span-columns(10);
				@include shift(1);
				@include media( $large-screen ) {
					@include span-columns(2);
					@include shift(0);
				}
				img {
					@include span-columns(2);
					@include omega(6n);
					opacity: .5;
					margin-bottom: 2.35765%;
					@include media( $large-screen ) {
						@include span-columns(4);
						@include omega(3n);
					}
					&.slick-current {
						opacity: 1;
					}
					&:hover {
						cursor: pointer;
						opacity: .9;
					}
				}
			}
		}
		.list-callout  {
			padding: $twentyfive;
			h4 {
				letter-spacing: 4px;
				margin-bottom: $twenty;
				text-transform: uppercase;
			}
			ul {
				li {
					font-weight: 700;
					list-style-type: disc;
					margin: 0 0 $fifteen $twenty;
				}
			}
		}
		.details-intro {
			@include row();
			.route-details {
				background: $medium-gray;
				color: $white;
				@include span-columns(10);
				@include shift(1);
				margin-bottom: $twentyfive;
				@include media( $large-screen ) {
					@include span-columns(4);
					@include shift(2);
					margin-bottom: 0;
				}
			}
			.route-intro {
				font-size: 18px;
				@include span-columns(10);
				@include shift(1);
				@include media( $large-screen ) {
					@include span-columns(4);
					@include shift(0);
				}
			}
		}
		.rwgps-embed-row {
			@include row();
			.rwgps-embed {
				@include span-columns(10);
				@include shift(1);
				@include media( $large-screen ) {
					@include span-columns(8);
					@include shift(2);
				}
			}
		}
		.exploration-content {
			@include span-columns(10);
			@include shift(1);
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(3);
			}
			figure {
				margin: 0;
				max-width: 100%;
				padding: 0;
			}
			ul {
				border-left: 1px solid $slate;
				padding-left: $twentyfive;
				li {
					line-height: $twentyfive;
					list-style-type: none;
					margin-bottom: $fifteen;
				}
			}
		}
		.pullquote {
			color: $medium-gray;
			font-style: italic;
			font-size: $h3-font-size;
			text-align: center;
			@include span-columns(10);
			@include shift(1);
			@include media( $large-screen ) {
				@include span-columns(8);
				@include shift(2);
			}
		}
		.need-to-knows {
			@include span-columns(10);
			@include shift(1);
			background: $medium-gray;
			color: $white;
			margin-bottom: $hundred;
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(3);
			}
			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}
