.exploration {
	.section {
		@include row();
		.section-lead-in {
			padding: $fifty 0;
			.section-title {
				text-align: center;
				h1 {
					margin-bottom: $twentyfive;
				}
			}
			.exploration-taxonomies {
				@include outer-container;
				.taxonomy {
					@include span-columns(3);
					h3 {
						color: $slate;
						margin-bottom: $twenty;
					}
					.read-more-link {
						display: block;
						color: $black;
						font-weight: 700;
						margin-top: $ten;
					}
					&:first-of-type {
						@include shift(2);
					}
				}
			}
		}
	}
	.section-portal {
		.featured-route-title {
			background: $slate;
			color: $mustard;
			padding: $five $ten;
		}
		a {
			color: $slate;
			font-weight: 700;
		}
	}
}
