.mailing-list {
	@include row();
	position: relative;
	.section-portal {
	}
	.section-supporting {
		background: $light-gray;
		top: 50%;
		position: absolute;
		width: 100%;
		@include transform(translateY(-50%));
		.section-content {
			@include outer-container;
			margin-bottom: $twenty;
			margin-top: $twenty;
			h4 {
				@include span-columns(4);
				@include shift(2);
			}
			.epm-sign-up-form {
				@include span-columns(4);
				label[for="epm-email"],
				.epm-sign-up-button {
					display: none;
				}
				input.email {
					margin-bottom: 0;
				}
			}
		}
	}
}

.footer-container {
	background: $light-gray;
	padding: $hundred 0;
	.footer {
		@include outer-container;
		@include media( $large-screen ) {
			.site-logo {
				@include span-columns(3);
			}
			.primary-menu {
				@include span-columns(3);
			}
			.supporting-menu {
				@include span-columns(3);
			}
			.social-media {
				@include span-columns(3);
			}
		}
		.social-media {
			.social-account {
				@include span-columns(2);
				svg {
					fill: $slate;
					max-width: $twentyfive;
				}
			}
		}
	}
}

.copyright {
	background: $slate;
	color: $medium-gray;
	font-style: italic;
	padding: $twentyfive 0;
	text-align: center;
}
