.instagram {
	background: $light-gray;
}

.footer-container {
	background: $light-gray;
	padding: $fifty 0 0;
	@include media( $large-screen ) {
		padding: $hundred 0;
	}
	.footer {
		text-align: center;
		@include media( $large-screen ) {
			text-align: left;
		}
		@include outer-container;
		.footer-section {
			margin-bottom: $fifty;
			@include media( $large-screen ) {
				margin-bottom: 0;
			}
			a {
				color: $slate;
				display: block;
				margin-bottom: $twentyfive;
				@include media( $large-screen ) {
				}
				&:hover {
					color: $medium-gray;
				}
			}
		}
		.menu-item {
			text-transform: uppercase;
			@include media( $large-screen ) {
				font-weight: 700;
				text-transform: none;
			}
			.sub-menu {
				@include media( $large-screen ) {
					display: none;
				}
				.menu-item {
					text-transform: none;
				}
			}
		}
		.site-logo {
			@include span-columns(4);
			@include shift(4);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include shift(0);
				svg {
					max-width: $hundred;
				}
			}
		}
		.primary-menu {
			@include span-columns(6);
			@include shift(3);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include shift(0);
			}
		}
		.supporting-menu {
			@include span-columns(6);
			@include shift(3);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include shift(0);
			}
		}
		.social-media {
			@include span-columns(6);
			@include shift(3);
			@include media( $large-screen ) {
				@include span-columns(3);
				@include shift(0);
			}
			.epm-sign-up-form {
				@include span-columns(10);
				margin-bottom: $twentyfive;
				label[for="epm-email"],
				.epm-sign-up-button {
					display: none;
				}
				input.email {
					background: $slate;
					color: $white;
					font-family: $lora;
					margin-bottom: 0;
				}
			}

			.social-accounts {
				@include row();
				clear: both;
				.social-account {
					@include span-columns(2);
					svg {
						fill: $slate;
						max-width: $twentyfive;
						@include transition(all 0.2s linear);
						&:hover {
							fill: $medium-gray;
						}
					}
				}
			}
		}
	}
}

.copyright {
	background: $slate;
	color: $medium-gray;
	font-style: italic;
	padding: $twentyfive 0;
	text-align: center;
}
