.site-header {
	@include row();
	background: $slate;
	.site-branding {
		@include span-columns(9);
		text-align: center;
		.site-title {
			@include span-columns(2);
			@include shift(7);
			svg {
				padding: $ten 0;
				vertical-align: middle;
				path {
					fill: $white;
				}
			}
		}
	}
}
